*{
--bg-primaria : #000;
--bg-secundaria: #111;
--cor-text-1:#F7F7F7;
--cor-texto-principal:#FFFFFF;
--cor-bn: linear-gradient(180deg, #BCD9FD 0%, #B0CCED 0.01%, #59A1F7 100%);
--texto-bn:#002367;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  box-sizing: border-box;
  position: relative;
}

ul, li, a{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  position: relative;
}

.header-bg{
  background-color: black;
  height: 100px;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.header-menu{
  display: flex;
  gap: 40px;
}

.header-menu a{
  padding: 20px 0;
  display: inline-block;
  font-family: 'Poppins', 'sans-serif ';
  color: var(--cor-text-1);
  font-size: 18px;
}

.menu-item a::after{
  content: '';
  display: block;
  margin-top:4px;
  width: 0%;
  height: 2px;
  background: var(--cor-text-1);
  transition: 0.2ms;
  position: absolute;
}

.menu-item a:hover::after{
  width: 100%;
}

