.sobre-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2.5rem;
    max-width: 1200px;
    margin: 5rem auto;
    padding: 0 2.5rem;
    box-sizing: border-box;
    align-items: center;
}

.sobre-container h2{
  font-weight: 300;
}

.sobre-container h2 p{
  max-width: 50ch;
}

.sobre-container img{
  margin-bottom: 2rem;
}

@media(max-width: 800px){
  .sobre-container{
    grid-template-columns: 1fr;
  }

  .sobre-container h2{
    text-align: center;
    max-width: none;
  }

  .sobre-container p{
    text-align: center;
    max-width: none;
  }
}