.container-cards{
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom:  7.5rem;
}

.container-cards h2{
  text-align: center;
  padding-bottom: 3.75rem ;
}

.card-tenis{
  display: flex;
  gap: 1rem 1rem;
  align-items: flex-start;
  padding-bottom: 1rem;
  overflow-x:scroll;
}
.font-1-xl{
  color: var(--bg-secundaria);
}

.card{
  background: var(--cor-texto-principal);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding:0.25rem 1.25rem ;
}

.descricao-cards p:nth-child(2){
  color: var(--cor-enfase);
}

.card-tenis img{
  display: block;
  max-width: 300px;
  height: 280;
}

@media (max-width:1000px){
  .container-cards h2{
    font-size: 3rem;
  }

  .card h3{
    font-size: 1.5rem;
  }
}

@media (max-width:800px){
  .container-cards{
    margin-bottom:  7rem;
  }

  .container-cards h2{
    font-size: 2.5rem;
  }
  
  .card p{
    font-size: 1rem;
  }
  .card h2{
    font-size: 1rem;
  }
}
