.tenis{
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* .produtos a::after{
  content: " ";
  background: var(--cor-text-1);
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
} */

@media (max-width: 800px){
  .tenis{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media (max-width: 800px){
  .tenis{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .container {
    padding: 0 2rem;
    
  }
}

